.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-bg-video {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); /* dark overlay */
  z-index: 2;
}

.home-content {
  position: relative;
  z-index: 3;
  text-align: center;
  color: #fff;
}

.home-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.home-subtitle {
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.home-btn {
  background-color: #ffcc00;
  color: #000;
  font-size: 1.2rem;
  padding: 15px 40px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.home-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}
